label,
.panel-label,
p {
  color: white;
  font-family: "Roboto", sans-serif;
}
a {
  color: white;
  https: //stackoverflow.com/questions/3396754/onkeypress-vs-onkeyup-and-onkeydown;
}
ul {
  list-style: none;
}
html,
body {
  margin: 0;
}
.panel-label {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 5px;
  background: rgb(27, 32, 58);
  position: absolute;
  top: -11%;
  padding: 10px;
}
.adjust-label {
  top: 2%;
}
.background {
  position: relative;
  min-height: 100vh;
  min-height: 100vh;
  display: block;
  width: 100%;
  height: 100vh;
  background: rgb(27, 32, 58);
  min-height: calc(100vh - 80px - 630px);
}

.container {
  background-color: rgb(27, 32, 58);
  padding-bottom: 6.5rem;
}
.list {
  color: white;
  text-align: left;
  text-align: center;
}
.custom-space {
  padding-bottom: 2.5em;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: rgb(27, 32, 58);
  text-align: center;
  height: 140px;
  position: relative;
  /* padding-top: 50px; */
  padding-bottom: 2.5rem;
}
.flex-how {
  padding: 20px;
  height: 140px;
  border: 3px solid white;
  background: rgb(27, 32, 58);
  text-align: center;
  align-items: center;
  width: 780px;
  margin-top: 25px;
}
.flex {
  margin-right: 30px;
  padding: 20px;
  height: 90px;
  border: 3px solid white;
  background: rgb(27, 32, 58);
  text-align: center;
  align-items: center;
}
.keystate {
  width: 180px;
}

.code {
  width: 500px;
}

.titles {
  font-family: "Roboto", sans-serif;
  padding-top: 1px;
  background: whit e;
  height: 72px;
  text-align: center;
}

#demo {
  margin: 37px;
  color: white;
}

#demo1 {
  margin: 32px;
  color: white;
}

#demo2 {
  margin: 37px;
  color: white;
}

#demo3 {
  margin: 32px;
  color: white;
}

.container-about {
  text-align: center;
  width: 100%;
  height: 220px;
}
.list > ul > li {
  align-content: flex-end;
}

#footy {
  width: 100%;
  height: 130px;
  margin-top: auto;
  padding-top: 20px;
  background: black;
  color: white;
  font-family: "Asap", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  bottom: 0; /*to the bottom of the body/page*/
}

.footer-content {
  color: white;
}

.link {
  color: rgb(167, 252, 252);
}
.red {
  color: rgb(255, 8, 0);
}

.social-meadia {
  text-align: right;
  padding-right: 20px;
}
.social-media > img {
  height: 40px;
  width: auto;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: flex-end;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}

.tooltip {
  display: none;
}
