label,
.panel-label,
p {
  color: white;
  font-family: "Roboto", sans-serif;
}

html, body {
    margin: 0;
}
.panel-label {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 5px;
  background: rgb(27, 32, 58);
  position: absolute;
  top: 13%;
  padding: 10px;
}

.background {
  width: 100%;
  height: 100vh;
  background: rgb(27, 32, 58);
}
.container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: rgb(27, 32, 58);
  text-align: center;
  height: 190px;
  position: relative;
}
.flex {
  margin-right: 30px;
  padding: 20px;
  border: 3px solid white;
  background: rgb(27, 32, 58);
  text-align: center;
}
.keystate {
  width: 200px;
}

.code {
  width: 500px;
}

.titles {
  font-family: "Roboto", sans-serif;
  padding-top: 1px;
  background: white;
  height: 72px;
  text-align: center;
}

#demo {
  margin: 50px;
  color: white;
}

#demo1 {
  margin: 50px;
  color: white;
}

#demo2 {
    margin: 50px;
    color: white;
  }
  
  #demo3 {
    margin: 50px;
    color: white;
  }

  .foot {
      position: absolute;
      width: 100%;
      /* height: 30px; */
      background-color: black;
      color: white;
      bottom: 0%;
  }